# RSPEC AND CAPYBARA
# expect(page).to
snippet bb
	byebug
snippet exp
	expect({#}).to ${0}
snippet ept
	expect(page).to have_content ${0}
snippet sop
	save_and_open_page
snippet let
	let(:${1:object}) { ${0} }
snippet let!
	let!(:${1:object}) { ${0} }
snippet feat
	require "rails_helper"

	feature "${1}" do
	  ${2}
	end
snippet desc
	require "rails_helper"

	describe "${1}" do
	  ${2}
	end
